# Created by .ignore support plugin (hsz.mobi)
### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

*.xml
venv/Lib/site-packages/easy-install.pth
venv/share/man/man1/isympy.1
.idea/codeStyles/Project.xml
.idea/workspace.xml
venv/Lib/site-packages/easy-install.pth
